<div class="flex  justify-center px-4 sm:px-6 lg:px-8">
  <div class="w-full lg:max-w-[90%] md:max-w-[100%] ">

<!-- 
<%= search_form_for @q do |f| %>
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
    <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <%= f.search_field :serial_number_or_digital_address_or_user_id_cont, placeholder: "Search store", class:"block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    <%= f.submit "Search!" %>
  </div>
<% end %> -->

    <div class="mt-5 flex flex-col">

      <div class="bg-gray-50">
        <div class="max-w-9xl mx-auto py-4 px-4 sm:px-6 lg:py-4 lg:px-4 lg:flex lg:items-center lg:justify-between">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">
            <span class="block">Store List</span>
          </h2>
          <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="ml-3 inline-flex rounded-md shadow">
              <%= link_to "Add Store", new_store_path, class:"inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" %>
            </div>
          </div>
        </div>
      </div>

      <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="border-b shadow md:custom-box-shadow overflow-hidden border-gray-200">
            <table class="divide-y min-w-full divide-gray-200">
              <thead>
                <tr>
                  <th class="w-1">#</th>
                  <th
                    class="bg-gray-50 px-6 py-3 text-left text-lg font-bold leading-4 tracking-wider text-bb-gray-600 text-opacity-50">
                    Store Number
                  </th>
                  <th
                    class="bg-gray-50 px-6 py-3 text-left text-lg font-bold leading-4 tracking-wider text-bb-gray-600 text-opacity-50">
                    Digital Address
                  </th>
                  <th
                    class="bg-gray-50 px-6 py-3 text-left text-lg font-bold leading-4 tracking-wider text-bb-gray-600 text-opacity-50">
                    Assembly
                  </th>
                  <th class="w-3"></th>
                  <th class="w-3"></th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% @stores.each_with_index do |store, index| %>
                <tr>
                  <td class="whitespace-no-wrap px-6 py-4 text-lg font-medium leading-5 text-bb-gray-600">
                    <%= index + 1 %></td>
                  <td class="whitespace-no-wrap px-6 py-4 text-lg font-medium leading-5 text-bb-gray-600">
                    <%= store.serial_number %>
                  </td>
                  <td class="whitespace-no-wrap px-6 py-4 text-lg font-medium leading-5 text-bb-gray-600">
                    <%= store.digital_address %>
                  </td>
                  <td class="whitespace-no-wrap px-6 py-4 text-lg font-medium leading-5 text-bb-gray-600">
                    <%= store.assembly.name %>
                  </td>
                  <td class="px-6 text-left  py-4"><%= link_to 'Show', store %></td>
                  <td class="px-6 text-left py-4"><%= link_to 'Edit', edit_store_path(store) %></td>

                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
