<div class="flex  justify-center px-4 sm:px-6 lg:px-8">
  <div class="w-full lg:max-w-[50%] md:max-w-[100%] ">
    <div class="bg-gray-50">
      <div class="max-w-9xl mx-auto py-4 px-4 sm:px-6 lg:py-4 lg:px-4 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl font-medium tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">
          <span class="block">Add tax for Store Number <%=@store.serial_number %> </span>
          <span class="block">Digital Address <%=@store.digital_address %></span>
        </h2>

      </div>
    </div>
    <%= form_with(model: @tax, class: "contents") do |form| %>
    <% if @tax.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
        <% @tax.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form.hidden_field :store_id, value:@store.id%>


  <div class="my-5">
    <%= form.label "Tax Title " %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label "Detail Description of tax" %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

    <div class="my-5">
    <%= form.label :year %>
    <%= form.number_field :year, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
    <div class="inline">
      <%= form.submit "Add tax to Number #{@store.serial_number}", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
    <% end %>

  </div>
</div>
