<div id="<%= dom_id store_tax %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Store:</strong>
    <%= store_tax.store.serial_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax:</strong>
    <%= store_tax.tax.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this store tax", store_tax, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this store tax', edit_store_tax_path(store_tax), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
