<div id="<%= dom_id tax %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Collected By:</strong>
    <%= tax.user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tax.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= tax.description %>
  </p>


    <p class="my-5">
    <strong class="block font-medium mb-1">Store Number:</strong>
    <%= tax.store.serial_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= tax.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    GH₵ <%= tax.amount %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tax", tax, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this tax', edit_tax_path(tax), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
